/* FONTSIZE */
body{margin:0;background-image:url("../images/campo-de-futebol-wallpaper.jpg");
background-position:center;background-size:cover;}
.set-fontsize-70{font-size:70px;}
/* FONTSIZE */

.textcolor-white{color:#FFFFFF;}
.textcolor-blue{color:#0062ff;}
.textcolor-black{color:#000000;}